.body{
    background-color:#AEB6BF  ;
}
.h1{
    justify-content: center;
    color: #212F3D;
    font-family: 'Noto Serif SC', serif;
}
.h2{
    color:#717D7E;
    justify-content: center;
    font-family: 'Noto Serif SC', serif;
}
.image-wrapper{
    background-color:#85929E;
}
.div{
    justify-content: center;
}
.responsive {
    max-width: 20%;
    height: auto;
    margin: 0 auto;
}
.div2{
    justify-content: center;
}


.d-flex {
    display: flex;
}
