.h1{
    justify-content: center;
    color: #212F3D;
}
.h2{
    color:#808B96;
    justify-content: center;
}
.image-wrapper{
    background-color:#F2F3F4;
}
.div{
    justify-content: center;
}
.responsive {
    max-width: 20%;
    height: auto;
    margin: 0 auto;
}



.d-flex {
    display: flex;
}
