.h1{
    margin: 0 auto;
    color: #212F3D;
}
.h2{
    color:#808B96;
}
.image-wrapper{
    color: midnightblue;
}
.responsive {
    max-width: 20%;
    height: auto;
    margin: 0 auto;
}



.d-flex {
    display: flex;
}
